
# tigris
TIGRIS_STORAGE_ACCESS_KEY_ID="tid_"
TIGRIS_STORAGE_SECRET_ACCESS_KEY="tsec_"
TIGRIS_STORAGE_ENDPOINT="https://t3.storage.dev"

# tigris (AWS)
AWS_ACCESS_KEY_ID="tid_"
AWS_SECRET_ACCESS_KEY="tsec_"
AWS_ENDPOINT_URL="https://t3.storage.dev"
AWS_REGION="auto"